h1 {
    
    color: rgb(250, 158, 52);
    font-size: xx-large;
}

.active a {
    color:rgb(243, 137, 16);
    text-decoration: none;
}

.main {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-tecnologia-abstracta-codigo-programacion_34663-61.jpg?size=626&ext=jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.text {
    background: #000000cc; 
    color: #f0a721; 
    font-size: large;
    font-weight: bold; 
    padding: 15px; 
    border: 2px solid #46dcf769; 
    border-radius: 6px;
    float:left;
}

.formulario {
    color:rgb(235, 6, 6);
    background:rgba(255, 255, 255, 0.788);
    float: left;
    border: 2px solid #fc900375; 
    border-radius: 6px;
    
}
.navbar {
    color: rgb(243, 137, 16);
    
}

.texto-centrado {
    color: rgb(247, 155, 36);
    font-size: xx-large;
    margin-top: 20%;
    text-align: center;
    font-style: critter;
    background-color: rgba(243, 235, 235, 0.829);
    border: 2px solid #fc900375; 
    border-radius: 6px;
}