@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.main {
    background-image: url("img/fondo-pagina.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.header {
    color: rgb(250, 158, 52);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar {
    color: rgb(250, 158, 52);
    font-family: "Nunito";
    display:flex;
    justify-content: left;
    list-style: none;
}

.boton-nav {
    background: rgba(250, 158, 52, 0.226);
    border-style: groove;
    border-width: 5px;
    border-color: rgb(52, 227, 250);
    color:rgb(52, 227, 250)
}

.nav-menu-item {
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    color: rgb(250, 158, 52);
}

.nav-menu-link:hover {
    color:rgb(52, 227, 250);
    background-color: rgba(255, 255, 255, 0.527);
    border-color: rgba(0, 0, 0, 0.993);
    border-radius: 6px;
    transition: 0.5s;
}

.active a {
    color:rgb(52, 227, 250);
    text-decoration: underline;
}

h1 {
    margin-top: 90px;
    color: rgb(250, 158, 52);
    font-size: xx-large;
}

.content {
    margin-top: 90px;
    position: relative;
    margin-bottom: 20px;
}

.text-home {
    background: #000000cc; 
    color: rgb(250, 158, 52);
    font-size: large;
    font-weight: bold; 
    padding: 15px; 
    border: 2px solid #46dcf769; 
    border-radius: 6px;
    margin-top: 10px;
}

.contact-form {
    margin-top: 10px;
    color:rgb(235, 6, 6);
    background:rgba(255, 255, 255, 0.788);
    border: 2px solid #fc900375; 
    border-radius: 6px;
    width: max-content;
}

.boton-color-contact {
    color: rgba(0, 0, 0, 0.993);
}

.text-projects {
    color: rgb(250, 158, 52);
    font-size: xx-large;
    margin-top: 120px;
    text-align: center;
    font-style: critter;
    background-color: rgba(0, 0, 0, 0.829);
    border: 2px solid #fc900375; 
    border-radius: 6px;
}

.text-about {
    font-size: xx-large;
    font-style: critter;
    color: rgb(250, 158, 52);
    background-color: rgba(0, 0, 0, 0.795);
    border: 2px solid #0ad5e475; 
    border-radius: 10px;
    margin-top: 90px;
}

.mensaje-enviado-text {
    color: rgb(250, 158, 52);
    font-size: xx-large;
    margin-top: 120px;
    text-align: center;
    font-style: critter;
    background-color: rgba(0, 0, 0, 0.829);
    border: 2px solid #fc900375; 
    border-radius: 6px;
}

.titulo {
    color:rgb(52, 227, 250);
    text-decoration: none;
    font-size: 30px;
}

